/* -------------------- STYLE RESET -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------------- */
.font-white, .section2-title, .soluSection1-container, .titles, .paragraphs, .nosotrosSection4-container .vision-title, .nosotrosSection3-container .mision-title, .enfoque-title, .nosotrosSection1-container, .homeSection4-container, .home-section2 .homeSection2-container li figure, .home-section2 > h3, .homeSection1-container, .contactoSection2-container, .contact-title, footer, .paragraph-novedades, .novedades-container .event2, .novedades-container .event1 {
  color: white;
}

.paragraph-novedades, .novedades-container .event2, .novedades-container .event1 {
  background-color: #5c5c5c;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.section-span, .homeSection4-container .homeSection4-item span, footer .branches .branches-item::first-line {
  font-weight: bold;
}

.sectionSpan-light, footer .copyright {
  font-weight: lighter;
  font-size: small;
}

.gray-font {
  color: #404040;
}

/* -------------------- FUENTES -------------------- */
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size: medium;
}

h1,
h2,
h3 {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}

/* ------------------------------------------------- */
ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

#header {
  background-image: linear-gradient(to bottom, #302680, #5a5391);
}
#header .header-div {
  text-align: center;
  padding: 10px;
}
#header .header-div img {
  width: 50vh;
}
#header .header-nav {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}
#header .header-nav .nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#header .header-nav .nav-container .nav-item-mine {
  padding: 0 1em;
  border: 2px solid transparent;
}
#header .header-nav .nav-container .nav-item-mine a {
  color: white;
}
#header .header-nav .nav-container .nav-item-mine a:link, #header .header-nav .nav-container .nav-item-mine a:visited, #header .header-nav .nav-container .nav-item-mine a:focus {
  font-weight: 500;
  padding: 0 1em;
  border: 2px solid transparent;
}
#header .header-nav .nav-container .nav-item-mine a:hover {
  color: #bfbfbf;
  font-weight: 500;
  border: 2px solid transparent;
}
#header .nav-mobile {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  justify-items: center;
  background-color: #302680;
}
footer .branches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: wrap;
}
footer .branches .branches-item {
  padding: 15px 200px;
  text-align: center;
  max-width: 100%;
}
footer .branches .branches-item p {
  margin-bottom: 0;
}
footer .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: wrap;
  margin: 10px;
}
footer .icons-container .icons-item {
  padding: 5px 10px;
  border: 2px solid transparent;
}
footer .icons-container .icons-item .footer-icons {
  font-size: 20px;
  color: white;
  border: 2px solid transparent;
}
footer .icons-container .icons-item .footer-icons:hover {
  color: #bfbfbf;
  border: 2px solid transparent;
}
footer .icons-container .icons-item .arrow-icon {
  font-size: 35px;
  position: absolute;
  right: 50px;
  bottom: 90px;
  border: 2px solid transparent;
}
footer .icons-container .icons-item .arrow-icon:hover {
  border: 2px solid transparent;
}

/* -------------------- CONTACTO PAGE -------------------- */
.contact-title {
  margin: 20px 0px;
  padding: 0 30px;
  background-color: #302680;
}

.contactoSection-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
}
.contactoSection-container .contactoSection1-container {
  display: grid;
  grid-template-areas: "info info" "google-iframe google-iframe" "img1 img2";
  align-content: center;
  justify-items: center;
  margin: 20px 40px;
  padding: 30px;
}
.contactoSection-container .contactoSection1-container .contacto-paragraph {
  text-align: justify;
  margin-bottom: 20px;
  grid-area: info;
}
.contactoSection-container .contactoSection1-container .google-iframe {
  grid-area: google-iframe;
  background-color: #695fb8;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.contactoSection-container .contactoSection1-container .contacto-img1 {
  grid-area: img1;
  justify-self: end;
  margin-right: 2px;
  align-self: baseline;
}
.contactoSection-container .contactoSection1-container .contacto-img1 img {
  width: 3vw;
}
.contactoSection-container .contactoSection1-container .contacto-img2 {
  grid-area: img2;
  justify-self: start;
  margin-left: 2px;
}
.contactoSection-container .contactoSection1-container .contacto-img2 img {
  width: 5vw;
}

.contactoSection2-container {
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-columns: repeat(1, auto);
  align-content: center;
  margin: 20px 40px;
  border-radius: 10px;
  padding: 30px;
  background-color: #404040;
}

/* ------------------------------------------------------- */
/* -------------------- HOME PAGE -------------------- */
.homeSection1-container {
  background-image: url(../assets/img/planta.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
  padding: 150px;
  border-bottom: #302680 solid 30px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.homeSection1-container::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.33);
}
.homeSection1-container .homeSection1-item h1 {
  font-size: 100px;
  position: relative;
}
.homeSection1-container .homeSection1-item h2 {
  font-size: 30px;
  position: relative;
}
.homeSection1-container .homeSection1-item p {
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

.home-section2 {
  padding: 30px;
  margin-bottom: 60px;
  background-color: #404040;
}
.home-section2 .homeSection2-container {
  display: flex;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: space-around;
  flex-wrap: inherit;
  justify-content: space-around;
}
.home-section2 .homeSection2-container li figure {
  transition: transform 0.5s ease-in-out 1ms;
}
.home-section2 .homeSection2-container li figure:hover {
  transform: scale(1.1, 1.1);
}
.home-section2 .homeSection2-container li figure .home-icons {
  font-size: 90px;
  color: white;
}
.home-section2 .homeSection2-container li figure .fig-caption {
  text-align: center;
}

.home-section3 {
  padding: 10px;
  margin-bottom: 60px;
}
.home-section3 p {
  font-size: 20px;
  text-align: center;
}

.homeSection4-container {
  padding: 60px 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  flex-wrap: wrap;
  background-color: #302680;
}
.homeSection4-container .homeSection4-item {
  padding: 2px;
  margin: 5px 100px;
}
.homeSection4-container .homeSection4-item span {
  font-size: 50px;
}

.especialidades-title {
  padding: 5px 30px;
}

.homeSection5-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.homeSection5-container .homeSection5-item {
  padding: 20px 30px;
}
.homeSection5-container .homeSection5-item > p {
  text-align: justify;
}
.homeSection5-container .homeSection5-item1 img {
  width: 300px;
}

/* --------------------------------------------------- */
/* -------------------- NOSOTROS PAGE -------------------- */
.nosotrosSection1-container {
  background-image: url(../assets/img/industrias.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 150px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: #302680 solid 30px;
  position: relative;
}
.nosotrosSection1-container::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.33);
}
.nosotrosSection1-container .nosotrosSection1-item h1 {
  font-size: 80px;
  position: relative;
}
.nosotrosSection1-container .nosotrosSection1-item p {
  font-weight: 500;
  font-size: 20px;
  position: relative;
}

.enfoque-title {
  padding: 5px 30px;
  background-color: #302680;
}

.nosotrosSection2-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  margin-bottom: 20px;
  border-bottom: #302680 solid 20px;
}
.nosotrosSection2-container .video {
  grid-row: 1/3;
  grid-column: 1/2;
  align-self: center;
}
.nosotrosSection2-container .par-options, .nosotrosSection2-container .paragraph-two, .nosotrosSection2-container .paragraph-one {
  grid-column: 2/4;
  text-align: justify;
  align-items: center;
  margin-left: 10px;
}
.nosotrosSection2-container .paragraph-one {
  align-self: center;
}
.nosotrosSection2-container .paragraph-two {
  align-self: self-start;
}

.nosotrosSection3-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  border-bottom: #302680 solid 20px;
  padding: 0;
  margin-bottom: 20px;
  align-items: center;
}
.nosotrosSection3-container .mision-title {
  background-color: #404040;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0 30px;
}
.nosotrosSection3-container .paragraph1 {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-left: 30px;
  padding: 60px 40px;
  font-size: 18px;
  text-align: justify;
}
.nosotrosSection3-container .mision-img {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  padding: 0 60px;
  margin-bottom: 20px;
}

.nosotrosSection4-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  align-items: center;
}
.nosotrosSection4-container .vision-title {
  background-color: #404040;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0 30px;
}
.nosotrosSection4-container .paragraph2 {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-left: 30px;
  padding: 40px;
  font-size: 18px;
  text-align: justify;
}
.nosotrosSection4-container .vision-img {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: center;
  padding: 0 60px;
  margin-bottom: 20px;
}

/* ------------------------------------------------------- */
/* -------------------- NOVEDADES PAGE -------------------- */
.titles, .paragraphs {
  margin-top: 20px;
  padding: 0 30px;
  margin-bottom: 0;
  background-color: #302680;
}

.paragraphs {
  background-color: transparent;
}

.novedades-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding-bottom: 5px;
}
.novedades-container .eventos-title {
  grid-row: 1/2;
  grid-column: 1/3;
  justify-self: center;
}
.novedades-container .event1 {
  grid-row: 2/3;
  grid-column: 1/3;
}
.novedades-container .event2 {
  grid-row: 3/4;
  grid-column: 1/3;
}

.noticias-container {
  display: grid;
  grid-template-areas: "paragraphs" "img";
  justify-items: center;
}
.noticias-container .paragraphs {
  grid-area: paragraphs;
  color: inherit;
}
.noticias-container .sede-img {
  grid-area: img;
}
.noticias-container .sede-img img {
  width: 600px;
  padding: 30px;
}
.noticias-container #carouselExample {
  margin: 20px 60px;
  width: 50%;
}

/* -------------------------------------------------------- */
/* -------------------- SOLUCIONES PAGE -------------------- */
.soluSection1-container {
  background-image: url(../assets/img/yacimiento.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
  padding: 150px;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: #302680 solid 30px;
}
.soluSection1-container .soluSection1-item h1 {
  font-size: 80px;
}
.soluSection1-container .soluSection1-item p {
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

.section2-title {
  margin-top: 10px;
  padding: 5px 30px;
  margin-bottom: 10px;
  background-color: #302680;
}

.soluSection2-container {
  display: grid;
  grid-template-areas: "text img";
  align-items: center;
  justify-items: center;
  border-bottom: #302680 solid 20px;
}
.soluSection2-container .soluSection2-item1 {
  padding-left: 30px;
  grid-area: text;
}
.soluSection2-container .soluSection2-item2 {
  padding: 30px;
  grid-area: img;
}
.soluSection2-container .soluSection2-item2 > img {
  width: 350px;
}

.soluSection3-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto;
  justify-content: center;
}
.soluSection3-container .soluSection31-container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto;
  padding: 30px;
  margin: 20px 0;
  justify-items: center;
  background-color: #bfbfbf;
}
.soluSection3-container .soluSection31-container .section31-title {
  grid-row: 1/2;
  justify-self: center;
}
.soluSection3-container .soluSection31-container .section31-paragraph1 {
  grid-row: 2/3;
  text-align: justify;
  padding: 10px;
}
.soluSection3-container .soluSection31-container .section31-paragraph2 {
  grid-row: 3/4;
  text-align: justify;
  padding: 10px;
}
.soluSection3-container .soluSection31-container .section31-img {
  grid-row: 4/5;
}
.soluSection3-container .soluSection32-container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto;
  padding: 30px;
  justify-items: center;
  margin: 20px 0;
  background-color: #bfbfbf;
}
.soluSection3-container .soluSection32-container .section32-title {
  grid-row: 1/2;
}
.soluSection3-container .soluSection32-container .section32-paragraph1 {
  grid-row: 2/3;
  text-align: justify;
  padding: 10px;
}
.soluSection3-container .soluSection32-container .section32-paragraph2 {
  grid-row: 3/4;
  text-align: justify;
  padding: 10px;
}
.soluSection3-container .soluSection32-container .section32-img {
  grid-row: 4/5;
}

/* --------------------------------------------------------- */
/* ----------------------- MEDIA QUERIES ---------------------- */
/*  
    MOBILE : Entre 320px y 768px
    TABLET: Entre 769px y 1024px
    DESKTOP: 1025px y 1200px
*/
/* -------------------- TABLET -------------------- */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* -------------------- HEADER -------------------- */
  #header .header-div,
  #header .header-nav {
    display: none;
  }
  #header .nav-mobile {
    display: flex;
  }
  #header .nav-mobile .logo-mobile {
    width: 50%;
  }
  /* ------------------------------------------------ */
  /* -------------------- HOME PAGE -------------------- */
  .homeSection2-container li figure {
    transition: none;
  }
  .homeSection5-container {
    display: grid;
    grid-template-areas: "text1 text1" "img1 img2";
    justify-items: center;
  }
  .homeSection5-container .homeSection5-item1 {
    grid-area: img1;
  }
  .homeSection5-container .homeSection5-item2 {
    grid-area: text1;
  }
  .homeSection5-container .homeSection5-item3 {
    grid-area: img2;
  }
  /* --------------------------------------------------- */
  /* -------------------- NOSOTROS PAGE -------------------- */
  .nosotrosSection2-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
  }
  .nosotrosSection2-container .video {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    margin-bottom: 10px;
  }
  .nosotrosSection2-container .paragraph-one {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .nosotrosSection2-container .paragraph-two {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .paragraph1,
  .paragraph2 {
    font-size: inherit;
  }
  /* ------------------------------------------------------- */
  /* -------------------- NOVEDADES PAGE ------------------- */
  .event1,
  .event2 {
    transform: none;
  }
  /* ------------------------------------------------------- */
  /* -------------------- CONTACTO PAGE -------------------- */
  .contactoSection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .contactoSection-container .contacto-img1,
  .contactoSection-container .contacto-img2 {
    display: none;
  }
  /* ------------------------------------------------------- */
  /* -------------------- FOOTER -------------------- */
  footer .branches .branches-item {
    padding: 15px 50px;
  }
  footer .footer-arrow {
    display: none;
  }
  /* ------------------------------------------------ */
}
/* ------------------------------------------------ */
/* -------------------- MOBILE -------------------- */
@media screen and (max-width: 768px) {
  /* -------------------- HEADER -------------------- */
  #header .header-div,
  #header .header-nav {
    display: none;
  }
  #header .nav-mobile {
    display: flex;
  }
  #header .logo-mobile {
    width: 50%;
  }
  #header .hamburguesa {
    justify-self: center;
  }
  /* ---------------------------------------------------- */
  /* -------------------- HOME PAGE -------------------- */
  .homeSection1-container {
    background-image: none;
    background-color: #302680;
    background-size: 100% 100%;
    display: grid;
    grid-template-areas: "title-h1" "title-h2" "description";
    row-gap: 2vh;
    padding: 75px;
    justify-items: center;
    border-bottom: 0;
  }
  .homeSection1-container::before {
    display: none;
  }
  .homeSection1-container .homeSection1-item h1 {
    font-size: 4rem;
    grid-area: title-h1;
  }
  .homeSection1-container .homeSection1-item h2 {
    font-size: 1.8rem;
    grid-area: title-h2;
  }
  .homeSection1-container .homeSection1-item p {
    text-align: center;
    font-size: 1.4rem;
    grid-area: description;
  }
  .home-section2 .homeSection2-container li figure:hover {
    transform: none;
  }
  .home-section2 .homeSection2-container li figure .home-icons {
    font-size: 80px;
  }
  .homeSection4-container {
    display: grid;
    grid-template-areas: "item1" "item2" "item3";
  }
  .homeSection4-container .homeSection4-item1 {
    grid-area: item1;
  }
  .homeSection4-container .homeSection4-item2 {
    grid-area: item2;
  }
  .homeSection4-container .homeSection4-item3 {
    grid-area: item3;
  }
  .especialidades-title {
    display: flex;
    justify-content: center;
  }
  .homeSection5-container {
    display: grid;
    grid-template-areas: "item1";
    justify-items: center;
  }
  .homeSection5-container .homeSection5-item2 {
    grid-area: item1;
  }
  .homeSection5-container .homeSection5-item3 {
    display: none;
  }
  /* --------------------------------------------------- */
  /* -------------------- NOSOTROS PAGE -------------------- */
  .nosotrosSection1-container {
    background-color: #302680;
    background-image: none;
    display: grid;
    grid-template-areas: "nos-title" "nos-description";
    justify-content: center;
    gap: 10px;
    padding: 90px;
  }
  .nosotrosSection1-container::before {
    display: none;
  }
  .nosotrosSection1-container .nosotrosSection1-item1 {
    grid-area: nos-title;
  }
  .nosotrosSection1-container .nosotrosSection1-item2 {
    grid-area: nos-description;
  }
  .enfoque-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .nosotrosSection2-container {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: wrap;
    flex: 200px;
  }
  .nosotrosSection2-container .video {
    padding-bottom: 20px;
  }
  .nosotrosSection2-container .video iframe {
    max-width: 100%;
    height: 250px;
  }
  .nosotrosSection3-container {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: wrap;
    flex: 200px;
  }
  .nosotrosSection3-container .mision-img img {
    max-width: 100%;
  }
  .nosotrosSection3-container .mision-title {
    background-color: white;
    color: inherit;
    display: flex;
    justify-content: center;
  }
  .nosotrosSection3-container .paragraph1 {
    margin: 0;
    font-size: inherit;
    padding: 0 30px;
  }
  .nosotrosSection4-container {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: wrap;
    flex: 200px;
  }
  .nosotrosSection4-container .vision-title {
    background-color: white;
    color: inherit;
    display: flex;
    justify-content: center;
  }
  .nosotrosSection4-container .paragraph2 {
    margin: 0;
    font-size: inherit;
    padding: 0 30px;
  }
  .nosotrosSection4-container .vision-img img {
    max-width: 100%;
  }
  /* ------------------------------------------------------- */
  /* -------------------- SOLUCIONES PAGE -------------------- */
  .soluSection1-container {
    background-image: none;
    background-color: #302680;
    display: grid;
    grid-template-areas: "solu-h1" "solu-description";
    justify-content: center;
    padding: 90px;
  }
  .soluSection1-container .soluSection-item1 {
    grid-area: solu-h1;
  }
  .soluSection1-container .soluSection-item2 {
    grid-area: solu-description;
  }
  .soluSection2-container {
    display: grid;
    grid-template-areas: "solu-text";
    justify-content: center;
  }
  .soluSection2-container .soluSection2-item1 {
    grid-area: solu-text;
    text-align: center;
    padding-left: 0;
    padding: 10px;
  }
  .soluSection2-container .soluSection2-item2 {
    display: none;
  }
  .section2-title {
    text-align: center;
  }
  .soluSection3-container {
    display: grid;
    grid-template-areas: "section1" "section2";
    justify-content: center;
  }
  .soluSection3-container .soluSection31-container {
    grid-area: section1;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: wrap;
    align-items: center;
  }
  .soluSection3-container .soluSection31-container .section31-img img {
    max-width: 100%;
    border-radius: 10px;
  }
  .soluSection32-container {
    grid-area: section2;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: wrap;
  }
  .soluSection32-container .section32-img img {
    max-width: 100%;
    border-radius: 10px;
  }
  /* --------------------------------------------------------- */
  /* -------------------- CONTACTO PAGE -------------------- */
  .contactoSection-container {
    display: grid;
    grid-template-areas: "contacto" "formulario";
    justify-content: center;
  }
  .contactoSection-container .contactoSection1-container {
    grid-area: contacto;
    padding: 5px;
  }
  .contactoSection-container .contactoSection1-container .google-iframe {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  .contactoSection-container .contactoSection1-container .google-iframe iframe {
    max-width: 100%;
    height: 250px;
  }
  .contactoSection-container .contactoSection1-container .contacto-img1,
  .contactoSection-container .contactoSection1-container .contacto-img2 {
    display: none;
  }
  .contactoSection-container .contactoSection2-container {
    grid-area: formulario;
    width: 80vw;
  }
  /* ------------------------------------------------------- */
  /* -------------------- NOVEDADES PAGE -------------------- */
  .noticias-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
    flex-wrap: wrap;
  }
  .noticias-container .paragraphs {
    text-align: justify;
  }
  .sede-img img {
    max-width: 100%;
  }
  #carouselExample {
    display: none;
  }
  /* -------------------------------------------------------- */
  /* -------------------- FOOTER -------------------- */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    flex-wrap: wrap;
  }
  footer .branches,
  footer .footer-arrow {
    display: none;
  }
  /* ------------------------------------------------ */
}
/* ------------------------------------------------------------ */

/*# sourceMappingURL=style.css.map */
